$background-black: #000000;
$default-text: #ffffff;

.mint-switch-input:checked + .mint-switch-core {
  border-color: #f12525;
  background-color: #f12525;
}
.mint-checkbox-input:checked + .mint-checkbox-core {
  background-color: #f12525;
  border-color: #f12525;
}
.mint-search {
  height: 100%;
}

.mint-searchbar {
  background-color: $background-black;
}

.mint-searchbar-cancel {
  color: $default-text
}

.mint-searchbar-inner, .mint-searchbar-core {
  background-color: #333333;
  color: $default-text
}
.mint-header {
  background-color: #000000;
}
.mint-toast{
  z-index: 5000;

}
